header {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
}

.menu__icon {
  display: none;
}

@media (max-width: 767px) {
  .menu__icon {
    display: block;
    position: relative;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .menu__icon span {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #22c3ca;
  }
  .menu__icon span:first-child {
    top: 0px;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }
  .menu__icon.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu__icon.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }
  .menu__icon.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  position: relative;
  z-index: 2;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 15px 15px;
}

@media (max-width: 768px) {
  .menu {
    height: 65px;
  }
}

.menu__body {
  display: none;
}

@media (max-width: 768px) {
  .menu__body {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 4;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.menu__logo {
  background-color: #22c3ca;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 52px;
  color: #fff;
  border-radius: 0px 0px 0px 15px;
}

@media (max-width: 954px) {
  .menu__logo {
    padding: 0px 22px;
    z-index: 4;
  }
}

@media (max-width: 498px) {
  .menu__logo {
    padding: 0px 12px;
    z-index: 4;
  }
}

.menu__row {
  margin: 0px 0px 20px 0px;
}

@media (max-width: 768px) {
  .menu__row {
    position: fixed;
    top: -60%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: wheat;
    z-index: 1;
    padding: 100px 0px 0px 0px;
    text-align: center;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.menu__row.active {
  top: 0;
  opacity: 1;
}

.menu__tel {
  position: relative;
  margin: 0px 0px 0px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
}

@media (max-width: 1210px) {
  .menu__tel {
    margin: 0px;
  }
}

@media (max-width: 768px) {
  .menu__tel {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

.menu__tel::before {
  content: "";
  position: absolute;
  top: -18.5px;
  left: -15px;
  width: 1px;
  height: 72px;
  background-color: #f7f5f5;
}

@media (max-width: 1120px) {
  .menu__tel::before {
    display: none;
  }
}

.menu__tel-wrap {
  margin: 0px 0px 0px 10px;
}

@media (max-width: 1096px) {
  .menu__tel-wrap {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu__tel-wrap {
    display: block;
  }
}

.menu__tel-number {
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: #000000;
}

@media (max-width: 498px) {
  .menu__tel-number {
    font-size: 13px;
  }
}

.menu__tel-text {
  font-size: 12px;
  line-height: 16px;
}

@media (max-width: 498px) {
  .menu__tel-text {
    font-size: 11px;
  }
}

.menu__tel-text a {
  color: #22c3ca;
}

.menu__tel-text a:hover {
  text-decoration: underline;
}

.menu__btn {
  position: relative;
  margin: 0px 15px 0px 15px;
  background: #22c3ca;
  border-radius: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__btn:hover {
  background: #0c9097;
}

.menu__btn::before {
  content: "";
  position: absolute;
  top: -8.5px;
  left: -15px;
  width: 1px;
  height: 72px;
  background-color: #f7f5f5;
}

@media (max-width: 1120px) {
  .menu__btn::before {
    display: none;
  }
}

.menu__btn a {
  display: inline-block;
  color: #ffffff;
  padding: 0px 34px;
  line-height: 56px;
  font-weight: 700;
  font-size: 14px;
}

@media (max-width: 1096px) {
  .menu__btn a {
    padding: 0px 24px;
    line-height: 34px;
  }
}

@media (max-width: 1096px) {
  .menu__btn {
    margin: 0px 15px 0px 0px;
  }
}

@media (max-width: 768px) {
  .menu__btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 20px 0px 0px 0px;
  }
}

.menu-up__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 15px 0px;
}

@media (max-width: 768px) {
  .menu-up__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 458px) {
  .menu-up__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 25px 0px;
  }
}

.menu-up__link {
  font-size: 12px;
  line-height: 16px;
  margin: 0px 36px 0px 0px;
}

@media (max-width: 954px) {
  .menu-up__link {
    margin: 0px 16px 0px 0px;
  }
}

@media (max-width: 458px) {
  .menu-up__link {
    line-height: 28px;
    font-size: 14px;
  }
}

.menu-up__link a {
  color: #cccccc;
}

@media (max-width: 768px) {
  .menu-up__link a {
    color: #fff;
  }
}

@media (max-width: 458px) {
  .menu-up__link a {
    text-decoration: underline;
  }
}

.menu-up__link a:hover {
  text-decoration: underline;
}

.menu-up__link:last-child {
  margin: 0px;
}

.menu-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .menu-bottom__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 458px) {
  .menu-bottom__list {
    display: block;
  }
}

.menu-bottom__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0px 38px 0px 0px;
}

@media (max-width: 954px) {
  .menu-bottom__link {
    margin: 0px 24px 0px 0px;
  }
}

@media (max-width: 458px) {
  .menu-bottom__link {
    font-size: 14px;
    margin: 0px 0px 20px 0px;
  }
}

.menu-bottom__link a {
  color: #22c3ca;
}

.menu-bottom__link a:hover {
  text-decoration: underline;
}

.menu-bottom__link:last-child {
  margin: 0px;
}

.search {
  position: relative;
  z-index: 0;
  margin: 100px 0px 0px 0px;
}

@media (max-width: 798px) {
  .search {
    margin: 70px 10px 0px 10px;
  }
}

.search__title {
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  margin: 0px 0px 15px 0px;
}

.search__text {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

.search__input {
  position: relative;
  background-color: #fff;
  height: 72px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 16px 0px;
}

.search__input input {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  color: #9b9b9b;
}

.search__icon {
  position: relative;
  display: inline-block;
  padding: 0px 16px;
  cursor: pointer;
}

.search__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 16px;
  margin: 0px 0px 30px 0px;
}

.search__more span {
  color: #ffffff;
  cursor: pointer;
  border-bottom: 1px dashed #ffffff;
}

.search__more span:hover {
  color: #22c3ca;
  border-bottom: 1px dashed #22c3ca;
}

.search__more.delete {
  display: none;
}

.search__less {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 16px;
  margin: 30px 0px 30px 0px;
}

.search__less span {
  color: #ffffff;
  cursor: pointer;
  border-bottom: 1px dashed #ffffff;
}

.search__less span:hover {
  color: #22c3ca;
  border-bottom: 1px dashed #22c3ca;
}

.search__btn {
  display: block;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.search__btn a {
  display: inline-block;
  color: #22c3ca;
  padding: 0px 70px;
  line-height: 56px;
  background-color: #ffffff;
  border-radius: 30px;
}

.search__btn a:hover {
  text-decoration: underline;
}

.__container {
  max-width: 1088px;
  margin: 0 auto;
  width: 100%;
}

.search__hide {
  display: none;
}

.search__hide.active {
  display: block;
}

.search__hide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0px 0px 0px;
}

@media (max-width: 798px) {
  .search__hide-container {
    display: block;
    margin: 20px 0px 0px 0px;
  }
}

.search__hide-calendar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 72px;
  border-radius: 10px;
  padding: 0px 0px 0px 15px;
  cursor: pointer;
}

@media (max-width: 798px) {
  .search__hide-calendar {
    margin: 0px 0px 30px 0px;
  }
}

.search__hide-calendar h3 {
  font-weight: 500;
  font-size: 16px;
  color: #9b9b9b;
  line-height: 40px;
  background: url("/img/header/Calendar.png") left no-repeat;
  padding: 0px 0px 0px 35px;
}

.search__hide-filter {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34%;
          flex: 0 0 34%;
  margin: 0px 30px;
}

@media (max-width: 798px) {
  .search__hide-filter {
    margin: 0px 10px 0px 10px;
  }
}

.search__hide-place {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  background-color: #fff;
  height: 72px;
  border-radius: 10px;
}

@media (max-width: 798px) {
  .search__hide-place {
    margin: 50px 0px 0px 0px;
  }
}

.search__hide-place h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #9b9b9b;
  background: url("/img/header/Group.png") left no-repeat;
  padding: 0px 0px 0px 30px;
}

.search__hide-place span {
  position: absolute;
  right: 35px;
  top: 50%;
}

.search__hide-place span::before {
  content: "";
  position: absolute;
  left: 8px;
  height: 1.5px;
  width: 12px;
  background-color: #22c3ca;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search__hide-place span::after {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 12px;
  background-color: #22c3ca;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search__hide-place span.rotate::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search__hide-place span.rotate::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.filter-hide-title {
  position: relative;
  top: -20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.place-hide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  padding: 0px 0px 0px 15px;
  cursor: pointer;
}

.place-hide-body {
  background-color: #ffffff;
  display: none;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 15px 10px 15px;
  position: relative;
  top: -10px;
}

.place-hide-body.active {
  display: block;
}

.body-up__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 15px 0px;
}

.body-up__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #35424b;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-up__quantity {
  border: 1px solid #f6f6f6;
  border-radius: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.body-up__quantity input {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #35424b;
}

.body-up__calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px auto;
}

.calc-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #22c3ca;
  font-size: 30px;
  border: 2px solid #22c3ca;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0px 0px 0px 20px;
  cursor: pointer;
}

.calc-minus {
  position: relative;
  top: 9px;
  width: 2px;
  height: 16px;
  background-color: #22c3ca;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

.calc-minus::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: -15px;
  width: 32px;
  height: 32px;
  border: 2px solid #22c3ca;
  border-radius: 50%;
}
